{% extends 'main/base.html' %}

{% block title %} Главная страница {% endblock %}

{% block content %}
        <h1 class="d-flex justify-content-center"> Добро пожаловать на сайт рецептов </h1>
        <div class="container text-center">
          <div class="row row-cols-2">
                  {% for recipe in recipes %}
                  <div class="col">
                          <figure class="figure w-50">
                                <img src="/media/{{ recipe.meal_image }}"
                                     class="figure-img img-fluid rounded"
                                     alt="{{ recipe.title }}"
                                >
                                <figcaption class="figure-caption text-center">{{ recipe.title }}</figcaption>
                          </figure>
                  </div>
                  {% endfor %}
          </div>
        </div>
{% endblock %}