{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1> {{ title }} </h1>
    <div class="d-flex p-2 position-relative">
        <img class="w-50" src="/media/{{ meal_image }}" alt="{{ title }}" class="w-50">
        <button type="submit"
                onClick="location.href='/recipes/{{ pk }}/change_img/'"
                class="btn btn-outline-info p-2 h-10 position-absolute top-50 start-50">Редактировать</button>
    </div>
    <div class="alert alert-warning mt-2 row">
        <div>
            <h3>Описание</h3>
            <p>{{ description }}</p>
        </div>
        <button type="submit"
                onClick="location.href='/recipes/{{ pk }}/change_description/'"
                class="btn btn-outline-info">Редактировать</button>
    </div>
    <div class="alert alert-warning mt-2 row">
        <div>
            <h3>Шаги приготовления</h3>
            <p>{{ sequence }}</p>
        </div>
        <button type="submit"
                onClick="location.href='/recipes/{{ pk }}/change_sequence/'"
                class="btn btn-outline-info">Редактировать</button>
    </div>
    <div class="alert alert-warning mt-2 col">
        <h3>Время приготовления: {{ cooking_time }}</h3>
        <button type="submit"
                onClick="location.href='/recipes/{{ pk }}/change_cooking_time/'"
                class="btn btn-outline-info">Изменить</button>
    </div>
    <div class="mt-2">
        <h4>Автор: {{ author }}</h4>
    </div>
{% endblock %}