{%  extends 'main/base.html' %}

{% block title %}Рецепты пользователей{% endblock %}

{% block content %}
{% if positions %}
    {% for position in positions %}
        <a href="{{ position.id }}" class="alert alert-warning mt-2 text-decoration-none">
            <h3>{{ position.title }}</h3>
            <p>{{ position.description }}</p>
        </a>
    {% endfor %}
{% else %}
<p>Рецептов нет</p>
{% endif %}
<button type="submit" onClick="location.href='{% url 'add_recipe' %}'"
        class="d-flex justify-content-center btn btn-primary me-2 mb-4 ">Добавить рецепт
</button>
{% endblock %}